.wrapper {
  display: flex;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.aside .box {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.content .box:first-child {
  flex: 1;
}

.content .box:last-child {
  flex: 4;
}
