.wrapper {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex: 2;
}

.content .box:last-child {
  flex: 3;
}
.content .box:first-child {
  flex: 1;
}

.header .box:first-child {
  flex: 3;
}

.header .box:last-child {
  flex: 1;
}

.footer .box {
  flex: 1;
}
